*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 100%;
}
.navbar{
    padding: 8px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 999;
}
.navbar .logo {
    cursor: pointer;
    margin-left:-30px;
}
.navbar .logo img{
    border-radius: 0% 30%;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    margin-left: 40px;
    color: black;
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: .2s;
}
.navbar .menu li .active{
    border-bottom: 4px solid #f63e4e ;
}
.navbar .menu li a:hover{
    font-size: 19px;
    color: #f12f3f;
}
.content{
    background-image: url(backsvg.svg);
    background-size: cover;
    background-repeat: no-repeat;   
    height: 86.5vh;
}
.content .textc{
    line-height: 1.5;
    padding: 0 4%;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #0e0d0d;
}
.content h1{
   font-size: 40px; 
   margin-top: -355px;
   letter-spacing: -1px;  
}
.content p{
    font-size: 20px;
    margin-top: 10px;
}
.content button{
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    background: #f12f3f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s linear;
}
.content button:hover{
    cursor: pointer;
    background: rgb(241, 85, 85);
    color: #fdfcfc;
}
.ilustre img {
    margin-left: 740.9px;
    margin-top: 115.5px;
    
}
.catégo_txt{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin: 30px;
    margin-left: 80;
    color: #0e0d0d;
    cursor: default;
}
.catégories{
    padding: 40px 5%;
    background-image: url(image/imageback.jpg);
    background-size: cover;
    line-height: 8;
}
.catégories button{
    text-align: center;
    background: #f12f3f00;
    padding: 20px 50px;
    color: #fdfcfc;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    border-color: #fdfcfc;
    cursor: pointer;
    transition: 0.3s ease;
}
.catégories button:hover{
    color:  #f12f3f;
    border-bottom: 4px solid #f63e4e ;

}